body {
    align-content: center;
    background-color: lavender;
}
.study-time {
    background-image: url(adoro/kiki.jpg);
    background-size:cover;
}
.break-time {
    background-image: url(adoro/tanjiro.jpg);
}
img {
    max-width: 75%;
    border-style: solid;
    border-width: 10px;
    border-color: darkseagreen;
    
}