@import url('css/satoshi.css');
body {
  background-color: whitesmoke;
}
h2 {
    color: rgb(73, 68, 68);
    font-family: Satoshi-Variable;
    font-weight: 900;
    text-align: right;
}
p {
    color: rgb(73, 68, 68);
    font-family: Satoshi-Variable;
    font-weight: 600;
    text-align: right;
}
.ice-cream {
    z-index: 1;
    background: url(splash.png);
    background-size:cover;
    border-radius: 10px;
    width: 450px;
    height: 250px;
}
.center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img {
    z-index: 2;
    position: absolute;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:20px solid whitesmoke;
    left: 5%;
    bottom: 75%;
}
.socials a{
    display:inline-block;
    height:3.5rem;
    width:3.5rem;
    border-radius: 100%;
    border:2px solid whitesmoke;
    text-align: center;
    font-size:1rem;
    line-height:3.5rem;
    margin:1rem;
}
a:hover .fab {
    color:#ffc2e3
}
.fab {
    color: white;
}